<input type="hidden" name="room-id" id="room-id" value="<%= roomId %>" />

<div class="grid">
    <h2>Chat</h2>
    <article id="chat-window" style="background-color: black"></article>
    <input type="text" name="message" id="message" placeholder="Type your message..."/>
</div>

<template id="chat-message">
    <div class="message">
        <p></p>
    </div>
</template>