<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Board</title>
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <link rel="stylesheet" href="/css/game.css">
  <script src="/scripts/chat.js" defer></script>
  <script src="/scripts/games.js" defer></script>
</head>

<body>

  <nav>
    <!-- <a href="/lobby">
      <button class="menu-button">lobby</button>
    </a> -->
    <a href="/rules"> <!--get href to work maybe use action?-->
      <button class="rules-button">Rules</button>
    </a>
    <a href="/auth/logout"> <!--get href to work maybe use action?-->
      <button class="logout-button">Logout</button>
    </a>
  </nav>

  <div id="game-board">
    <!--update css for the button-->
    <form action="/games/<%= id %>/test" method="post" id="test-form">
    <button type="submit">Test</button>
    </form>
    <div id="deck">
      <!--deck content goes here-->
    </div>

    <div id="community-cards">
      <div class="community-card1"></div>
      <div class="community-card2"></div>
      <div class="community-card3"></div>
      <div class="community-card4"></div>
      <div class="community-card5"></div>
    </div>

    <div id="players"> <!--still need to include chips-->
      <div class="player" id="player1">Player 1: $100
        <div class="player-card" id="player1-card1"></div>
        <div class="player-card" id="player1-card2"></div>
      </div>
      <div class="player" id="player2">Player 2: $100
        <div class="player-card" id="player2-card1"></div>
        <div class="player-card" id="player2-card2"></div>
      </div>
      <div class="player" id="player3">Player 3: $100
        <div class="player-card" id="player3-card1"></div>
        <div class="player-card" id="player3-card2"></div>
      </div>
      <div class="player" id="player4">Player 4: $100
        <div class="player-card" id="player4-card1"></div>
        <div class="player-card" id="player4-card2"></div>
      </div>
      <div class="player" id="player5">Player 5: $100
        <div class="player-card" id="player5-card1"></div>
        <div class="player-card" id="player5-card2"></div>
      </div>
      <div class="dealer" id="dealer">Dealer</div>
    </div>
  </div>

  <input 
    type="hidden" 
    name="game-socket-id" 
    id="game-socket-id" 
    value="<%= gameSocketId %>" 
  />
  <input 
    type="hidden" 
    name="user-socket-id" 
    id="user-socket-id" 
    value="<%= userSocketId %>" 
  />

    <%- include('partials/chat', { roomId: id }) %>

  <script>
    //either create a separate game.js that
    //will contain whole logic or do it here
    //do logic for handeling player's actions,
    //card dealing, betting, scoring,
    //tracking used cards, etc
  </script>

</body>

</html>