<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    LANDING PAGE

    <ul>
        <li><a href="/">Landing</a></li>
        <li><a href="/auth/sign_up">sign-up</a></li>
        <li><a href="/lobby">lobby</a></li>
        <li><a href="/game/42">game</a></li>
    </ul>
</body>
</html>
