<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting Lobby</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/css/test.css">
</head>
<body>
    <div class="logout-container">
        <a href = "/rules">
            <button class="rules-button">Rules</button>
        </a>
        <a href = "/auth/logout">
            <button class="logout-button">Logout</button>
        </a>
        
    </div>

    <div> 
        <h1>Lobby</h1>
        <h2>WELCOME ID: <%= user.id %> USERNAME: <%= user.username %></h2>
    </div>
    <div>
        <ul>
            <li><a href="/">Landing</a></li>
            <li><a href="/auth/sign_up">sign-up</a></li>
            <li><a href="/lobby">lobby</a></li>
            <li><a href="/game/42">game</a></li>
        </ul>
    </div>
    <article>
        <div style="background-color: black; padding: 50px;">
            <p>this is a message from chat</p>
            <p>this is a message from chat</p>
            <p>this is a message from chat</p>
            <p>this is a message from chat</p>
            <div id="chat-container">
                <input type="text" name = "message" id="message" placeholder="Type your message...">
            </div>
        </div>
    </article>
  
</body>
</html>