<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules Page</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/css/rules.css">
</head>
<body>

    <nav>
        <a href = "/lobby">
            <button class="lobby-button">Back to Lobby</button>
        </a>
        <h1>How To Play</h1>
        <a href = "/auth/logout">
            <button class="logout-button">Logout</button>
        </a>
    </nav>
    
    <div class="account-container">
        <h2>Basic Rules</h2>
            <li>Each player is dealt two private cards known as "hole cards"</li>
            <li>Five community cards are dealt face-up in the center of the table</li>
            <li>Players use their best five-card hand combining hole cards and community cards</li>
            <li>The game consists of four betting rounds: pre-flop, flop, turn, and river</li>
            <li>The player with the best hand at the end of the final betting round wins the pot</li>
    </div>
    
    <div class="account-container1">
        <h2>Betting</h2>
            <li>Blinds - forced bets placed before the start of the game to stimulate betting</li>
            <li>The player to the left of the dealer posts the small blind, and the next player posts the big blind</li>
            <li>Players receive two private cards, and the first betting round (pre-flop) begins</li>
            <li>The dealer reveals three community cards (flop) in the center of the table, starting the second betting round</li>
            <li>Another community card is revealed (turn), followed by the third betting round</li>
            <li>The final community card is revealed (river), and the last betting round occurs</li>
            <li>The player with the best hand at the showdown wins the pot</li>
            <li>Players can check, bet, call, raise, or fold during each betting round</li>
    </div>
    
    <div class="account-container2">
        <h2>Cards Ranking</h2>
            <p>Royal Flush</p>
            <p>Straight Flush</p>
            <p>Four of a Kind</p>
            <p>Full House</p>
            <p>Flush</p>
            <p>Straight</p>
            <p>Three of a Kind</p>
            <p>Two Pair</p>
            <p>One Pair</p>
            <p>High Card</p>
    </div>
    
    </body>
</html>