.card {
  width: 90px;
  height: 130px;
  display: flex;
  margin-left: 10%;
  margin-top: 80%;
  bottom: 10%;
  background-image: url("/back_of_the_card.png");
  background-size: cover;
  /*background-color: #e74c3c;
  border: 1px solid #c0392b;*/
  margin: 0 5px;
}

.card.suit-spades.number-14 {
  background-image: url("/css/cards/ace_of_spades.png");
  background-size: cover;
}

.card.suit-spades.number-2 {
  background-image: url("/css/cards/2_of_spades.png");
  background-size: cover;
}

.card.suit-spades.number-3 {
  background-image: url("/css/cards/3_of_spades.png");
  background-size: cover;
}

.card.suit-spades.number-4 {
  background-image: url("/css/cards/4_of_spades.png");
  background-size: cover;
}

.card.suit-spades.number-5 {
  background-image: url("/css/cards/5_of_spades.png");
  background-size: cover;
}

.card.suit-spades.number-6 {
  background-image: url("/css/cards/6_of_spades.png");
  background-size: cover;
}

.card.suit-spades.number-7 {
  background-image: url("/css/cards/7_of_spades.png");
  background-size: cover;
}

.card.suit-spades.number-8 {
  background-image: url("/css/cards/8_of_spades.png");
  background-size: cover;
}

.card.suit-spades.number-9 {
  background-image: url("/css/cards/9_of_spades.png");
  background-size: cover;
}

.card.suit-spades.number-10 {
  background-image: url("/css/cards/10_of_spades.png");
  background-size: cover;
}

.card.suit-spades.number-11 {
  background-image: url("/css/cards/jack_of_spades.png");
  background-size: cover;
}

.card.suit-spades.number-12 {
  background-image: url("/css/cards/queen_of_spades.png");
  background-size: cover;
}

.card.suit-spades.number-13 {
  background-image: url("/css/cards/king_of_spades.png");
  background-size: cover;
}

.card.suit-clubs.number-14 {
  background-image: url("/css/cards/ace_of_clubs.png");
  background-size: cover;
}

.card.suit-clubs.number-2 {
  background-image: url("/css/cards/2_of_clubs.png");
  background-size: cover;
}

.card.suit-clubs.number-3 {
  background-image: url("/css/cards/3_of_clubs.png");
  background-size: cover;
}

.card.suit-clubs.number-4 {
  background-image: url("/css/cards/4_of_clubs.png");
  background-size: cover;
}

.card.suit-clubs.number-5 {
  background-image: url("/css/cards/5_of_clubs.png");
  background-size: cover;
}

.card.suit-clubs.number-6 {
  background-image: url("/css/cards/6_of_clubs.png");
  background-size: cover;
}

.card.suit-clubs.number-7 {
  background-image: url("/css/cards/7_of_clubs.png");
  background-size: cover;
}

.card.suit-clubs.number-8 {
  background-image: url("/css/cards/8_of_clubs.png");
  background-size: cover;
}

.card.suit-clubs.number-9 {
  background-image: url("/css/cards/9_of_clubs.png");
  background-size: cover;
}

.card.suit-clubs.number-10 {
  background-image: url("/css/cards/10_of_clubs.png");
  background-size: cover;
}

.card.suit-clubs.number-11 {
  background-image: url("/css/cards/jack_of_clubs.png");
  background-size: cover;
}

.card.suit-clubs.number-12 {
  background-image: url("/css/cards/queen_of_clubs.png");
  background-size: cover;
}

.card.suit-clubs.number-13 {
  background-image: url("/css/cards/king_of_clubs.png");
  background-size: cover;
}

.card.suit-hearts.number-14 {
  background-image: url("/css/cards/ace_of_hearts.png");
  background-size: cover;
}

.card.suit-hearts.number-2 {
  background-image: url("/css/cards/2_of_hearts.png");
  background-size: cover;
}

.card.suit-hearts.number-3 {
  background-image: url("/css/cards/3_of_hearts.png");
  background-size: cover;
}

.card.suit-hearts.number-4 {
  background-image: url("/css/cards/4_of_hearts.png");
  background-size: cover;
}

.card.suit-hearts.number-5 {
  background-image: url("/css/cards/5_of_hearts.png");
  background-size: cover;
}

.card.suit-hearts.number-6 {
  background-image: url("/css/cards/6_of_hearts.png");
  background-size: cover;
}

.card.suit-hearts.number-7 {
  background-image: url("/css/cards/7_of_hearts.png");
  background-size: cover;
}

.card.suit-hearts.number-8 {
  background-image: url("/css/cards/8_of_hearts.png");
  background-size: cover;
}

.card.suit-hearts.number-9 {
  background-image: url("/css/cards/9_of_hearts.png");
  background-size: cover;
}

.card.suit-hearts.number-10 {
  background-image: url("/css/cards/10_of_hearts.png");
  background-size: cover;
}

.card.suit-hearts.number-11 {
  background-image: url("/css/cards/jack_of_hearts.png");
  background-size: cover;
}

.card.suit-hearts.number-12 {
  background-image: url("/css/cards/queen_of_hearts.png");
  background-size: cover;
}

.card.suit-hearts.number-13 {
  background-image: url("/css/cards/king_of_hearts.png");
  background-size: cover;
}

.card.suit-diamonds.number-14 {
  background-image: url("/css/cards/ace_of_diamonds.png");
  background-size: cover;
}

.card.suit-diamonds.number-2 {
  background-image: url("/css/cards/2_of_diamonds.png");
  background-size: cover;
}

.card.suit-diamonds.number-3 {
  background-image: url("/css/cards/3_of_diamonds.png");
  background-size: cover;
}

.card.suit-diamonds.number-4 {
  background-image: url("/css/cards/4_of_diamonds.png");
  background-size: cover;
}

.card.suit-diamonds.number-5 {
  background-image: url("/css/cards/5_of_diamonds.png");
  background-size: cover;
}

.card.suit-diamonds.number-6 {
  background-image: url("/css/cards/6_of_diamonds.png");
  background-size: cover;
}

.card.suit-diamonds.number-7 {
  background-image: url("/css/cards/7_of_diamonds.png");
  background-size: cover;
}

.card.suit-diamonds.number-8 {
  background-image: url("/css/cards/8_of_diamonds.png");
  background-size: cover;
}

.card.suit-diamonds.number-9 {
  background-image: url("/css/cards/9_of_diamonds.png");
  background-size: cover;
}

.card.suit-diamonds.number-10 {
  background-image: url("/css/cards/10_of_diamonds.png");
  background-size: cover;
}

.card.suit-diamonds.number-11 {
  background-image: url("/css/cards/jack_of_diamonds.png");
  background-size: cover;
}

.card.suit-diamonds.number-12 {
  background-image: url("/css/cards/queen_of_diamonds.png");
  background-size: cover;
}

.card.suit-diamonds.number-13 {
  background-image: url("/css/cards/king_of_diamonds.png");
  background-size: cover;
}
