body {
  margin: 0;
  padding: 0;
  font-family: "Inter";

  background-image: url("/table.jpg");
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

button {
  background-color: rgb(23, 70, 121);
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.rules-button {
  background-color: rgb(23, 70, 121);
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  margin-left: 30%;
  bottom: 93.5%;
}

.game-board {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 5%;
}

#deck {
  width: 90px;
  height: 120px;
  background-color: #3498db;
  border: 1px solid #2980b9;
  margin-left: 30%;
  margin-top: 15%;
  bottom: 80%;
}

#community-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-top: -8%;
  bottom: 15%;
}

.community-card1,
.community-card2,
.community-card3,
.community-card4,
.community-card5 {
  width: 90px;
  height: 120px;
  background-color: #e74c3c;
  border: 1px solid #c0392b;
  margin: 0 5px;
}

#players {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#player1 {
  position: absolute;
  display: flex;
  margin-left: 0%;
  margin-top: 80%;
  bottom: 10%;
  color: white;
}

#player2 {
  position: absolute;
  display: flex;
  margin-left: 75%;
  margin-top: 80%;
  bottom: 35%;
  color: white;
}

#player1-card1,
#player1-card2 {
  width: 90px;
  height: 120px;
  display: flex;
  margin-left: 10%;
  margin-top: 80%;
  bottom: 10%;
  background-color: #e74c3c;
  border: 1px solid #c0392b;
  margin: 0 5px;
}

#player3 {
  position: absolute;
  display: flex;
  margin-left: 60%;
  margin-top: 80%;
  bottom: 70%;
  color: white;
}

#player4 {
  position: absolute;
  display: flex;
  margin-right: 30%;
  margin-top: 80%;
  bottom: 70%;
  color: white;
}

#player5 {
  position: absolute;
  display: flex;
  margin-right: 70%;
  margin-top: 80%;
  bottom: 35%;
  color: white;
}

#player2-card1,
#player2-card2 {
  width: 90px;
  height: 120px;
  display: flex;
  background-color: #e74c3c;
  border: 1px solid #c0392b;
  margin: 0 5px;
}

#player3-card1,
#player3-card2 {
  width: 90px;
  height: 120px;
  display: flex;
  background-color: #e74c3c;
  border: 1px solid #c0392b;
  margin: 0 5px;
}

#player4-card1,
#player4-card2 {
  width: 90px;
  height: 120px;
  display: flex;
  background-color: #e74c3c;
  border: 1px solid #c0392b;
  margin: 0 5px;
}

#player5-card1,
#player5-card2 {
  width: 90px;
  height: 120px;
  display: flex;
  background-color: #e74c3c;
  border: 1px solid #c0392b;
  margin: 0 5px;
}

.dealer {
  position: absolute;
  display: flex;
  margin-right: 70%;
  margin-top: 80%;
  bottom: 85%;
  color: white;
}

#chat-container {
  background-color: #f1f1f1;
  padding: 10px;
}

#message {
  width: 80%;
  padding: 5px;
  margin-right: 5px;
}

h2 {
  color: rgb(23, 70, 121);
  text-align: center;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50px;
}

.dotHidden {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50px;
}