body {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  /*background-color: #f4f4f4;*/

  background-image: url("/backgroud.png"); /* Replace 'background-image.jpg' with the actual file path */
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Inter";
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

/* This is for the submit message part */
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: rgb(23, 70, 121);
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(23, 70, 121);
}

/* .logout-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
  } */

.logout-button {
  background-color: rgb(23, 70, 121);
  color: white; /* White text color */
  padding: 10px 15px; /* Padding inside the button */
  border: none; /* Remove borders */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add a pointer cursor on hover */
}

a {
  color: white;
}
